<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @event.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @event.descricao %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @event.endereco %>
</p>

<p>
  <strong>Data:</strong>
  <%= @event.data.strftime("%d/%m/%Y às %I:%M") %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @event.imagem %>
</p>

<p>
	<strong>Compartilhar</strong>
	<%= social_share_button_tag(@event.titulo, :popup => "true") %>
</p>
<% if @event.user == current_user %>
	<%= link_to 'Editar', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
