<!DOCTYPE html>
<html>
<head>
  <title>Ppds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Sign in with Facebook -->

	<% if user_signed_in? %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sair", destroy_user_session_path, method: :delete, data: {confirm: "Tem certeza de que deseja sair?" }%>
  <% else %>
   	<%= link_to "Entrar", new_user_session_path %>
    <%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
    <%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %>
		<%#= link_to "Google", user_omniauth_authorize_path(:google_oauth2) %> 
		<%#= link_to "Foursquare", user_omniauth_authorize_path(:foursquares) %>
  <% end %>
	<%= link_to "Criar Conta", new_user_registration_path %>
  
<div id="status">
</div>


<!--Fim Facebook SDK configuration -->

	   <p class="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
